/* VARIABLES CSS */

:root {
    --first-color: rgb(217, 0, 98);
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: rgb(20, 25, 45);
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: rgb(80, 20, 100);
    --third-alpha-color: rgba(80, 20, 100, 0.75);

    --link-color: rgb(80, 158, 227);
    --link-color: rgba(80, 158, 227, 0.75);

    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgba(245, 245, 245, 0.75);
}



/* RESET STYLES */

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: var(--link-color);
    transition: all .3s ease-out;
}

a:hover {
    color: var(--first-color);
}



/* BOOTSTRAP STYLES */

.navbar-brand img {
    width: auto;
    height: 3rem;
}

.bg-dark {
    background-color: var(--second-color) !important;
}

.nav-item:hover {
    background-color: var(--first-alpha-color);
}

.nav-item {
    padding-left: 0.5 rem;
    transition: all .3s ease-out;
}

.nav-link {
    color: var(--first-color);
    font-size: 1.5 rem;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--bs-white);
}

.dropdown-item {
    color: var(--first-alpha-color);
    font-weight: bold;
    transition: all .3s ease-out;
}

.dropdown-item:hover {
    color: var(--third-alpha-color);
}


/* MY STYLES */

.bg-gradient-blue-green{
    background: rgb(10,107,138);
    background: linear-gradient(90deg, rgba(10,107,138,1) 0%, rgba(50,168,221,1) 35%, rgba(119,202,219,1) 100%);
}

.bg-third-color{
    background-color: var(--third-color);
}

.text-third{
    color: var(--third-color);
}

.bg-color {
    background-color: var(--bg-color);
}




@media (min-width: 992px) {
    .nav-item:hover {
        background-color: transparent;
    }
}